Header {
  display: flex;
  width: 100%;
  background-color: #ffffff;
  justify-content: center;
  height: 500px;
  align-items: center; }
  Header .img-header {
    height: 35%;
    display: flex;
    animation-name: movimiento;
    animation-duration: 0.7s; }
    Header .img-header img {
      width: 100%;
      height: 100%; }
  Header h1 {
    font-size: 6vw;
    text-align: center;
    animation-name: titulo;
    animation-duration: 0.7s;
    margin: 30px; }

/*ESCRITORIO -INDEX*/
@keyframes movimiento {
  0% {
    transform: translateY(-150px); }
  100% {
    transform: translate(0px); } }

@keyframes titulo {
  0% {
    transform: translateY(150px); }
  100% {
    transform: translate(0px); } }

@keyframes descuento {
  0% {
    background-color: #070707;
    color: #f8f7f7; }
  50% {
    background-color: #ffffff;
    color: black; }
  75% {
    background-color: #070707;
    color: #f8f7f7; }
  100% {
    background-color: #fdfdfd;
    color: black; } }

@keyframes ipman {
  0% {
    background-image: url(../../fotos/ipman.jpg);
    background-repeat: no-repeat;
    background-size: contain; }
  50% {
    background-image: url(../../fotos/ipman2.jpg);
    background-repeat: no-repeat;
    background-size: contain; }
  100% {
    background-image: url(../../fotos/ipman3.jpeg);
    background-repeat: no-repeat;
    background-size: contain; } }

@keyframes ipman-mobile {
  0% {
    background-image: url(/fotos/ipman.jpg);
    background-repeat: no-repeat;
    background-size: contain; }
  25% {
    background-image: url(/fotos/ipman.jpg);
    background-repeat: no-repeat;
    background-size: contain; }
  40% {
    background-image: url(/fotos/ipman2.jpg);
    background-size: contain; }
  100% {
    background-image: url(/fotos/ipman3.jpeg);
    background-size: 100px; } }

@media only screen and (min-width: 992px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box; }
  nav #navegacion {
    position: sticky;
    top: 0;
    height: 65px;
    z-index: 1; }
  nav #navbar-brand {
    display: none; }
  nav #navbar {
    color: #afafaf;
    transition: all 0.3s;
    font-size: 24px;
    margin-top: 2px; }
  nav #navbar:hover {
    color: rgba(255, 255, 255, 0.986);
    transform: scale(1.1, 1.1); }
  nav #nav-item {
    color: #afafaf;
    transition: all 0.3s;
    font-size: 22px; }
  nav #nav-item:hover {
    color: white;
    transform: scale(1.1, 1.1); }
  nav #navbarNavAltMarkup {
    display: flex;
    justify-content: flex-end; }
  .main-container {
    grid-template-columns: 80% 20%;
    grid-template-rows: 1fr 1fr 01fr;
    grid-template-areas: "primeraseccion aside" "segundaseccion segundaseccion" "terceraseccion terceraseccion ";
    height: 4000px;
    align-content: space-evenly; }
    .main-container #primeraSeccion {
      grid-area: primeraseccion;
      align-items: center; }
      .main-container #primeraSeccion .contenedorKungfu {
        width: 70%;
        height: 90%;
        margin: 20px; }
        .main-container #primeraSeccion .contenedorKungfu h2 {
          font-size: 60px;
          margin: 30px;
          padding: 20px; }
        .main-container #primeraSeccion .contenedorKungfu p {
          padding: 30px;
          font-size: 22px;
          letter-spacing: 2px;
          width: 90%;
          margin: 30px; }
        .main-container #primeraSeccion .contenedorKungfu div {
          height: 40%;
          width: 50%;
          border-radius: 60%; }
    .main-container #aside {
      grid-area: aside;
      height: 1200px;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      padding: 20px; }
      .main-container #aside #cuenta {
        height: 70%;
        width: 90%;
        align-items: center;
        margin: 20px; }
        .main-container #aside #cuenta div .titulo-login {
          text-align: center;
          font-size: 36px;
          margin: 20px; }
        .main-container #aside #cuenta .form-login {
          height: 65%;
          width: 95%;
          padding: 20px; }
          .main-container #aside #cuenta .form-login .form-login label {
            font-size: 20px; }
            .main-container #aside #cuenta .form-login .form-login label .form-login input {
              width: 90%;
              font-size: 1vw;
              height: 50px; }
      .main-container #aside #descuento {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center; }
        .main-container #aside #descuento div .titulo-descuento {
          font-size: 25px;
          padding: 10px; }
        .main-container #aside #descuento .form-descuento {
          height: 100%;
          width: 95%;
          display: flex;
          flex-direction: column;
          justify-content: space-around; }
          .main-container #aside #descuento .form-descuento label {
            padding: 10px;
            width: 90%;
            font-size: 20px;
            margin-left: 30px; }
          .main-container #aside #descuento .form-descuento input {
            width: 90%;
            font-size: 1vw; }
          .main-container #aside #descuento .form-descuento .btnEnviar {
            margin-left: 50px;
            width: 60%;
            transition: 0.7s; }
          .main-container #aside #descuento .form-descuento .btnEnviar:hover {
            background-color: #5c5d5f; }
    .main-container .segundaSeccion {
      width: 100%;
      height: 100%;
      margin-top: 200px; }
      .main-container .segundaSeccion .contenedor-objetivos {
        width: 50%;
        height: 80%; }
        .main-container .segundaSeccion .contenedor-objetivos .ul-objetivos {
          height: 90%;
          padding: 10px;
          margin: 20px; }
          .main-container .segundaSeccion .contenedor-objetivos .ul-objetivos li {
            font-size: 18px; }
      .main-container .segundaSeccion .contenedor-beneficios {
        height: 80%;
        padding: 10px;
        width: 50%; }
        .main-container .segundaSeccion .contenedor-beneficios div .titulo-beneficios {
          font-size: 40px;
          margin: 10px; }
        .main-container .segundaSeccion .contenedor-beneficios .ul-beneficios {
          height: 100%;
          padding: 15px; }
          .main-container .segundaSeccion .contenedor-beneficios .ul-beneficios li {
            font-size: 18px; }
    .main-container .terceraSeccion {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%; }
      .main-container .terceraSeccion .titulo-tecnicas {
        grid-area: titulo;
        text-align: center; }
        .main-container .terceraSeccion .titulo-tecnicas h4 {
          font-size: 60px;
          margin: 40px;
          padding: 20px; }
      .main-container .terceraSeccion .card-group {
        height: 100%;
        width: 90%;
        display: flex;
        justify-content: space-evenly; }
        .main-container .terceraSeccion .card-group .card {
          height: 98%;
          color: #ffffff;
          background-color: #0b0b0e; }
          .main-container .terceraSeccion .card-group .card #grulla, .main-container .terceraSeccion .card-group .card #tigre, .main-container .terceraSeccion .card-group .card #serpiente {
            height: 40%;
            width: 80%;
            border-radius: 50%;
            margin: 20px; }
          .main-container .terceraSeccion .card-group .card #tigre {
            background-color: #0b0b0e; }
          .main-container .terceraSeccion .card-group .card .card-body {
            display: flex;
            justify-content: space-evenly;
            flex-direction: column;
            align-items: center; }
  footer {
    height: 120px; }
    footer li {
      list-style: none; }
    footer .footer-contenedor {
      height: 100%; }
      footer .footer-contenedor div #copyright {
        font-size: 20px; }
    footer ul .li-footer {
      font-size: 20px; }
    footer .redes-sociales div .redesSociales {
      font-size: 25px; }
  /*seccion Contactos */
  .main-contactos {
    height: 1000px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 700px 300px;
    grid-template-areas: "contacto crearcuenta" "contacto crearcuenta";
    justify-items: center;
    align-items: flex-start; }
  .contenedor-mensaje div h2 {
    font-size: 50px; }
  .contenedor-mensaje {
    width: 60%;
    border: 2px solid #fafafa;
    transform: translateY(28px);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 80%;
    padding: 20px; }
  .contenedor-cuenta {
    height: 80%;
    width: 60%;
    border: 2px solid #f8f8f8;
    transform: translateY(20px);
    padding: 10px; }
  .titulo-cuenta {
    font-size: 3vw;
    text-align: center;
    margin: 20px; }
  .form-cuenta {
    row-gap: 15px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center; }
  .form-cuenta label {
    width: 30%; }
  .form-cuenta input {
    width: 20vw; }
  #enviar {
    width: 90%; }
  .input-cuenta {
    font-size: 20px; }
  #hombre {
    transform: translateX(-8vw); }
  #mujer {
    transform: translateX(-8vw); }
  /* seccion galeria */
  .main-galeria {
    grid-template-columns: 100%;
    grid-template-rows: 1000px 1000px;
    grid-template-areas: "fotos" "videos"; }
  .contenedor-fotos {
    grid-area: fotos;
    display: flex;
    flex-direction: column;
    height: 90%;
    width: 60%;
    margin: 30px;
    justify-self: center; }
  .d-block {
    height: 700px; }
  .carousel-item {
    height: 60%; }
  .carousel-inner {
    height: 600px; }
  .titulo-fotos {
    font-size: 50px;
    margin: 30px; }
  .contenedor-videos {
    grid-area: videos;
    display: flex;
    flex-direction: column; }
  .titulo-videos {
    margin: 30px; }
  .videos {
    display: grid;
    grid-template-columns: 35% 35% 30%;
    grid-template-rows: 400px 400px;
    grid-template-areas: "video1 video2 video3" " video4 video5 video6";
    row-gap: 20px; }
  /* seccion historia   */
  .contenedorHistoria {
    grid-template-columns: 100%;
    grid-template-rows: 0.8fr 1fr;
    grid-template-areas: "historia"  "famosos"; }
    .contenedorHistoria #seccionHistoria {
      grid-area: historia;
      height: 100%;
      width: 100%;
      display: flex;
      align-items: center;
      flex-direction: column; }
      .contenedorHistoria #seccionHistoria .tituloHistoria h2 {
        font-size: 4vw;
        margin: 20px; }
    .contenedorHistoria .texto-historia {
      height: 100%;
      width: 80%; }
      .contenedorHistoria .texto-historia p {
        font-size: 20px;
        padding: 20px; }
    .contenedorHistoria #seccionFamosos {
      grid-area: famosos;
      height: 100%; }
      .contenedorHistoria #seccionFamosos div .titulo-famosos {
        text-align: center;
        font-size: 60px; }
    .contenedorHistoria .ip-man {
      padding: 20px;
      margin: 10px; }
      .contenedorHistoria .ip-man div .titulo-ipman {
        font-size: 40px;
        margin-bottom: 20px; }
    .contenedorHistoria .bruce-lee {
      padding: 30px;
      margin: 15px; }
      .contenedorHistoria .bruce-lee div .titulo-bruce {
        font-size: 40px;
        margin-bottom: 20px; }
    .contenedorHistoria .foto-brucelee {
      width: 80%;
      height: 100%;
      display: flex; }
      .contenedorHistoria .foto-brucelee .img-bruce {
        width: 30%;
        height: 60%; }
  /*seccion taller*/
  #seccion-taller {
    display: flex;
    flex-direction: column; }
  .contenedor-taller {
    display: flex; }
  .tituloTaller {
    display: flex;
    justify-content: center; }
  .contenedor-tablas {
    margin: 20px; }
  .titulo-ubicacion {
    font-size: 50px;
    display: none; }
  tr, td {
    padding: 10px; }
  #ubicacion {
    width: 700px;
    height: 400px;
    transform: translate(300px); } }

/* VERSION MOBILE*/
@media only screen and (min-width: 320px) and (max-width: 480px) {
  Header {
    height: 150px; }
    Header .img-header {
      animation-name: movimiento;
      animation-duration: 1.5s; }
  nav .nav-container {
    row-gap: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly; }
  nav .nav-container li {
    font-size: 20px;
    justify-content: center; }
  nav .nav-container a {
    width: 90%; }
  .main-container {
    grid-template-columns: 100%;
    grid-template-rows: 0.6fr 0.7fr 0.5fr 0.5fr;
    grid-template-areas: "primeraseccion" "segundaseccion"  "terceraseccion" "aside"; }
    .main-container #primeraSeccion {
      grid-area: primeraseccion;
      height: 100%;
      margin-bottom: 30px; }
      .main-container #primeraSeccion .contenedorKungfu {
        height: 100%;
        width: 95%;
        justify-content: space-evenly; }
        .main-container #primeraSeccion .contenedorKungfu h2 {
          font-size: 30px;
          margin-top: 20px; }
    .main-container .segundaSeccion {
      grid-area: segundaseccion;
      flex-direction: column;
      width: 100%;
      align-items: center;
      margin-top: 40px; }
      .main-container .segundaSeccion .contenedor-objetivos {
        width: 100%;
        height: 1000px; }
        .main-container .segundaSeccion .contenedor-objetivos .ul-objetivos {
          height: 100%;
          margin: 10px; }
          .main-container .segundaSeccion .contenedor-objetivos .ul-objetivos li {
            margin: 10px; }
      .main-container .segundaSeccion .contenedor-beneficios {
        width: 95%;
        height: 100%;
        align-items: center; }
        .main-container .segundaSeccion .contenedor-beneficios div h3 {
          height: 42px; }
        .main-container .segundaSeccion .contenedor-beneficios .ul-beneficios {
          height: 700px;
          padding: 10px; }
          .main-container .segundaSeccion .contenedor-beneficios .ul-beneficios li {
            padding: 10px;
            width: 100%; }
    .main-container .terceraSeccion {
      grid-area: terceraseccion;
      display: flex;
      flex-direction: column;
      height: 100%;
      align-items: center; }
      .main-container .terceraSeccion .titulo-tecnicas h3 {
        font-size: 9vw;
        text-align: center;
        margin: 30px; }
      .main-container .terceraSeccion .card-group {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column; }
        .main-container .terceraSeccion .card-group .card {
          height: 80%;
          width: 100%;
          color: #fdfdfd; }
          .main-container .terceraSeccion .card-group .card #tigre {
            height: 50%;
            width: 100%; }
          .main-container .terceraSeccion .card-group .card .card-body {
            background-color: #0b0b0e; }
          .main-container .terceraSeccion .card-group .card #grulla, .main-container .terceraSeccion .card-group .card #tigre, .main-container .terceraSeccion .card-group .card #serpiente {
            height: 50%;
            width: 100%; }
          .main-container .terceraSeccion .card-group .card #serpiente {
            height: 50%;
            width: 100%; }
    .main-container #aside {
      grid-area: aside;
      height: 1000px;
      width: 100%;
      display: flex;
      flex-direction: column;
      background-color: #0b0b0e;
      color: black; }
      .main-container #aside #cuenta {
        height: 50%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 2px solid black;
        background-color: #0b0b0e;
        color: white; }
        .main-container #aside #cuenta div .titulo-login {
          text-align: center;
          font-size: 36px;
          margin: 20px; }
        .main-container #aside #cuenta .form-login {
          display: flex;
          height: 80%;
          width: 70%; }
          .main-container #aside #cuenta .form-login label {
            height: 100%;
            width: 95%;
            display: flex;
            font-size: 25px;
            margin: 10px;
            flex-direction: column; }
            .main-container #aside #cuenta .form-login label input {
              width: 200px;
              font-size: 20px; }
          .main-container #aside #cuenta .form-login .ingresar {
            margin-left: 10px;
            margin-bottom: 10px; }
      .main-container #aside #descuento {
        height: 50%;
        width: 100%;
        display: flex;
        flex-direction: column;
        border: 2px solid black;
        background-color: #0b0b0e;
        color: white; }
        .main-container #aside #descuento div .titulo-descuento {
          font-size: 33px;
          padding: 10px;
          margin: 20px; }
        .main-container #aside #descuento .form-descuento {
          height: 85%;
          width: 85%;
          display: flex;
          flex-direction: column;
          justify-content: space-around; }
          .main-container #aside #descuento .form-descuento label {
            margin-left: 30px;
            padding: 10px;
            width: 230px; }
            .main-container #aside #descuento .form-descuento label input {
              width: 200px; }
  footer .footer-contenedor {
    display: flex;
    flex-direction: column;
    padding: 10px; }
    footer .footer-contenedor .footer-contacto {
      display: flex;
      flex-direction: column; }
    footer .footer-contenedor li {
      list-style: none; }
  /* seccion contactos*/
  .main-contactos {
    grid-template-columns: 1fr;
    grid-template-rows: 40% 50%;
    grid-template-areas: "contacto" "crearcuenta";
    height: 1200px; }
  .contenedor-mensaje h4 {
    font-size: 30px;
    text-align: center; }
  .contenedor-mensaje {
    margin: 10px;
    border: 2px solid white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly; }
  .contenedor-mensaje div {
    padding: 10px; }
  input {
    width: 70%;
    border: 1px solid black; }
  textarea {
    width: 70%;
    height: 15vw; }
  .contenedor-cuenta h4 {
    font-size: 20px;
    padding: 5px;
    text-align: center; }
  .contenedor-cuenta {
    height: 100%;
    margin: 10px;
    border: 1px solid white; }
  .form-cuenta {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 70%;
    align-items: center;
    width: 100%; }
  .form-cuenta label {
    font-size: 15px; }
  /*Seccion galeria */
  .main-galeria {
    grid-template-columns: 1fr;
    grid-template-rows: 26% 70%;
    grid-template-areas: "fotos" "videos"; }
    .main-galeria .contenedor-fotos {
      display: flex;
      flex-direction: column;
      margin: 20px;
      align-items: center;
      justify-content: space-evenly; }
  .d-block {
    width: 4px; }
  #galeria-img {
    width: 80%;
    height: 100%; }
  .titulo-fotos {
    text-align: center;
    font-size: 30px; }
  .contenedor-videos {
    display: flex;
    flex-direction: column; }
  .videos {
    height: 2400px;
    grid-template-columns: 90%;
    grid-template-rows: 300px 300px 300px 300px 300px 300px;
    grid-template-areas: "video1" "video2" "video3" "video4" "video5" "video6";
    align-content: space-evenly;
    justify-content: center; }
  .videos div {
    width: 100%;
    height: 100%; }
  .titulo-videos {
    font-size: 6.5vw; }
  /* seccion historia */
  .contenedorHistoria {
    height: 100%;
    grid-template-columns: 100%;
    grid-template-rows: 0.8fr 0.8fr;
    grid-template-areas: "seccion1 "  "seccion2";
    justify-items: center;
    align-content: space-evenly; }
    .contenedorHistoria #seccionHistoria {
      grid-area: seccion1;
      width: 95%;
      height: 100%;
      display: flex;
      flex-direction: column;
      margin: 20px; }
      .contenedorHistoria #seccionHistoria .tituloHistoria {
        display: flex;
        justify-content: center; }
      .contenedorHistoria #seccionHistoria .texto-historia {
        margin: 30px; }
    .contenedorHistoria #seccionFamosos {
      grid-area: seccion2;
      width: 95%;
      height: 90%;
      display: flex;
      flex-direction: column;
      margin-top: 30px;
      margin-bottom: 30px; }
      .contenedorHistoria #seccionFamosos div .titulo-famosos {
        font-size: 30px;
        text-align: center;
        margin: 15px; }
      .contenedorHistoria #seccionFamosos .ip-man div .titulo-ipman {
        text-align: center;
        font-size: 25px;
        margin: 15px; }
  .ipman-foto {
    height: 350px;
    width: 90%;
    animation-name: ipman-mobile;
    animation-duration: 15s;
    animation-iteration-count: infinite; }
  .foto_ipman img {
    width: 90%;
    height: 90%; }
  .titulo-bruce {
    font-size: 25px;
    text-align: center;
    margin: 15px; }
  .foto-brucelee {
    height: 300px;
    width: 100%;
    display: flex;
    flex-direction: column; }
  .foto-brucelee img {
    width: 100%;
    height: 100%; }
  .img-brucelee {
    width: 90%;
    height: 50%; }
  /*seccion taller*/
  #seccion-taller {
    display: flex;
    flex-direction: column;
    height: 100%; }
  .tituloTaller h2 {
    font-size: 20px;
    text-align: center;
    margin: 20px; }
  .contenedor-tablas {
    height: 50%;
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 20px; }
  tr, td {
    padding: 5px;
    font-size: 14px; }
  th {
    padding: 4px; }
  #tabla {
    margin: 10px; }
  #ubicacion {
    height: 50%;
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 15px; }
  .titulo-ubicacion {
    text-align: center;
    font-size: 25px;
    margin: 15px; } }

footer {
  background-color: azure;
  color: #0c0b0b; }
  footer .footer-contenedor {
    display: flex;
    justify-content: space-evenly;
    row-gap: 15px; }
    footer .footer-contenedor div #copyright {
      margin: 20px; }
    footer .footer-contenedor .footer-contacto {
      margin-top: 5px; }
    footer .footer-contenedor .redes-sociales {
      display: flex;
      flex-direction: column;
      justify-content: center; }
  footer .contenedor-redes {
    display: flex;
    column-gap: 30px; }
    footer .contenedor-redes i:hover {
      transform: scale(1.5, 1.5);
      transition: all 1s; }
    footer .contenedor-redes i {
      color: #0f0f0f; }

@keyframes movimiento {
  0% {
    transform: translateY(-150px); }
  100% {
    transform: translate(0px); } }

@keyframes titulo {
  0% {
    transform: translateY(150px); }
  100% {
    transform: translate(0px); } }

@keyframes descuento {
  0% {
    background-color: #070707;
    color: #f8f7f7; }
  50% {
    background-color: #ffffff;
    color: black; }
  75% {
    background-color: #070707;
    color: #f8f7f7; }
  100% {
    background-color: #fdfdfd;
    color: black; } }

@keyframes ipman {
  0% {
    background-image: url(../../fotos/ipman.jpg);
    background-repeat: no-repeat;
    background-size: contain; }
  50% {
    background-image: url(../../fotos/ipman2.jpg);
    background-repeat: no-repeat;
    background-size: contain; }
  100% {
    background-image: url(../../fotos/ipman3.jpeg);
    background-repeat: no-repeat;
    background-size: contain; } }

@keyframes ipman-mobile {
  0% {
    background-image: url(/fotos/ipman.jpg);
    background-repeat: no-repeat;
    background-size: contain; }
  25% {
    background-image: url(/fotos/ipman.jpg);
    background-repeat: no-repeat;
    background-size: contain; }
  40% {
    background-image: url(/fotos/ipman2.jpg);
    background-size: contain; }
  100% {
    background-image: url(/fotos/ipman3.jpeg);
    background-size: 100px; } }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Noto Sans JP', sans-serif; }

.main-container {
  display: grid;
  background-color: #0b0b0e;
  color: white; }
  .main-container #primeraSeccion {
    grid-area: primeraseccion;
    display: flex;
    flex-direction: column; }
    .main-container #primeraSeccion .contenedorKungfu {
      display: flex;
      flex-direction: column; }
      .main-container #primeraSeccion .contenedorKungfu h2 {
        text-align: center; }
      .main-container #primeraSeccion .contenedorKungfu p {
        font-size: 18px;
        padding: 15px; }
      .main-container #primeraSeccion .contenedorKungfu div img {
        width: 100%;
        height: 100%; }
  .main-container #aside {
    grid-area: aside;
    display: flex;
    color: white; }
    .main-container #aside #cuenta {
      display: flex;
      flex-direction: column; }
      .main-container #aside #cuenta .titulo-login {
        text-align: center;
        font-size: 30px; }
      .main-container #aside #cuenta .form-login {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly; }
        .main-container #aside #cuenta .form-login .ingresar {
          transition: all 0.2s; }
        .main-container #aside #cuenta .form-login .ingresar:hover {
          background-color: #5c5d5f;
          transform: scale(1, 1); }
        .main-container #aside #cuenta .form-login label {
          display: flex;
          flex-direction: column; }
    .main-container #aside #descuento {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center; }
      .main-container #aside #descuento .titulo-descuento {
        animation-name: descuento;
        animation-duration: 7s;
        animation-iteration-count: infinite;
        animation-direction: alternate; }
      .main-container #aside #descuento .form-descuento {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        border: 2px solid white; }
  .main-container .segundaSeccion {
    grid-area: segundaseccion;
    display: flex;
    align-self: center; }
    .main-container .segundaSeccion .contenedor-objetivos {
      display: flex;
      flex-direction: column;
      justify-content: flex-start; }
      .main-container .segundaSeccion .contenedor-objetivos div .titulo-objetivos {
        text-align: center;
        font-size: 40px;
        margin-top: 20px;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; }
      .main-container .segundaSeccion .contenedor-objetivos .ul-objetivos {
        display: flex;
        justify-content: space-around;
        flex-direction: column; }
        .main-container .segundaSeccion .contenedor-objetivos .ul-objetivos li {
          list-style: none; }
    .main-container .segundaSeccion .contenedor-beneficios {
      display: flex;
      flex-direction: column; }
      .main-container .segundaSeccion .contenedor-beneficios div .titulo-beneficios {
        text-align: center;
        font-size: 40px;
        margin: 15px; }
      .main-container .segundaSeccion .contenedor-beneficios .ul-beneficios {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center; }
        .main-container .segundaSeccion .contenedor-beneficios .ul-beneficios li {
          list-style: none; }
  .main-container .terceraSeccion {
    grid-area: terceraseccion; }
    .main-container .terceraSeccion .titulo-tecnicas {
      grid-area: titulo; }

/* seccion contactos */
.main-contactos {
  display: grid;
  background-color: #0b0b0e;
  color: white; }

.titulo-mensaje {
  text-align: center;
  margin: 20px; }

#enviar:hover {
  background-color: #8b8f97;
  transition: 0.5s; }

.contenedor-mensaje {
  grid-area: contacto; }

.contenedor-cuenta {
  grid-area: crearcuenta; }

/*Seccion galeria */
.main-galeria {
  display: grid;
  background-color: #0b0b0e;
  color: white; }

.contenedor-fotos {
  grid-area: fotos; }

.contenedor-videos {
  grid-area: videos; }

.titulo-fotos {
  text-align: center; }

.titulo-videos {
  text-align: center;
  font-size: 2.5vw;
  margin: 10px; }

.videos {
  display: grid; }

.video1 {
  grid-area: video1;
  transition: all 0.5s;
  width: 90%;
  height: 90%; }

.video1:hover {
  width: 100%;
  height: 100%; }

.video2 {
  grid-area: video2;
  transition: all 0.5s;
  width: 90%;
  height: 90%; }

.video2:hover {
  transform: scale(1.1, 1.1); }

.video3 {
  grid-area: video3;
  transition: all 0.5s;
  width: 90%;
  height: 90%; }

.video3:hover {
  transform: scale(1.2, 1.2); }

.video4 {
  grid-area: video4;
  transition: all 0.5s;
  width: 90%;
  height: 90%; }

.video4:hover {
  transform: translateX(-30px) scale(1.1, 1.1); }

.video5 {
  grid-area: video5;
  transition: all 0.5s;
  width: 90%;
  height: 90%; }

.video5:hover {
  transform: scale(1.2, 1.2); }

.video6 {
  grid-area: video6;
  transition: all 0.5s;
  width: 90%;
  height: 90%; }

.video6:hover {
  transform: translateX(-30px) scale(1.1, 1.1); }

/* seccion historia */
.contenedorHistoria {
  display: grid;
  background-color: #0b0b0e;
  color: white; }
  .contenedorHistoria #seccionHistoria {
    display: flex;
    align-items: center;
    flex-direction: column; }
  .contenedorHistoria #seccionFamosos .ipman-foto {
    animation-name: ipman;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    height: 400px;
    width: 900px; }

.bruce-lee {
  display: flex;
  flex-direction: column; }

.foto-brucelee {
  width: 50%; }

.img-bruce {
  width: 100%;
  height: 100%; }

/*seccion taller*/
#seccion-taller {
  display: flex;
  flex-direction: column;
  background-color: #0b0b0e;
  color: white;
  height: 100%; }

.tabla-item th {
  border: 1px solid white; }

.tabla-item {
  border: 1px solid white; }

.tabla-item td {
  border: 1px solid white; }

.tituloTaller {
  display: flex;
  justify-content: center; }

.contenedor-tablas {
  display: flex;
  justify-content: center;
  align-items: center; }

.titulo-ubicacion {
  text-align: center;
  display: none; }

#ubicacion {
  display: flex;
  display: flex;
  justify-content: center;
  align-items: center; }
