@keyframes movimiento  {
    0% {
        transform: translateY(-150px);
    }
     
    100% {
        transform: translate(0px); 
    }
  }

@keyframes titulo {
    0% {
        transform: translateY(150px);
    }
    100% {
        transform: translate(0px);
    }
}
@keyframes descuento {
    0% {
        background-color: #070707;
        color:rgb(248, 247, 247);
    }
    50%{
        background-color: #ffffff;
        color:rgb(0, 0, 0)
    }
    75%{
        background-color: #070707;
        color:rgb(248, 247, 247);
    }
    100%{
        background-color: #fdfdfd;
        color:rgb(0, 0, 0)
    }
  }
  