@keyframes movimiento  {
    0% {
        transform: translateY(-150px);
    }
     
    100% {
        transform: translate(0px); 
    }
  }

@keyframes titulo {
    0% {
        transform: translateY(150px);
    }
    100% {
        transform: translate(0px);
    }
}
@keyframes descuento {
    0% {
        background-color: #070707;
        color:rgb(248, 247, 247);
    }
    50%{
        background-color: #ffffff;
        color:rgb(0, 0, 0)
    }
    75%{
        background-color: #070707;
        color:rgb(248, 247, 247);
    }
    100%{
        background-color: #fdfdfd;
        color:rgb(0, 0, 0)
    }
  }
  @keyframes ipman {
    0% {
        background-image: url(../../fotos/ipman.jpg);
        background-repeat: no-repeat;
        background-size: contain;    
    }
    50% {
        background-image: url(../../fotos/ipman2.jpg) ;
        background-repeat: no-repeat;
        background-size: contain;  
    }
    100% {
        background-image: url(../../fotos/ipman3.jpeg) ;
        background-repeat: no-repeat;
        background-size: contain;
    }
  }

  @keyframes ipman-mobile {
    0% {
        background-image: url(/fotos/ipman.jpg);
        background-repeat: no-repeat;
        background-size: contain;
    }
     25% {
    background-image: url(/fotos/ipman.jpg);
    background-repeat: no-repeat;
    background-size: contain;
   }    
    
    40% {
        background-image: url(/fotos/ipman2.jpg) ;
        background-size: contain;  
    }
    100% {
        background-image: url(/fotos/ipman3.jpeg) ;
        background-size:100px 
         
    }
  }