
Header{
    display: flex;
    width: 100%;
    background-color: #ffffff;
    justify-content: center;
    height: 500px;
    align-items: center;
    .img-header{
      height: 35%;
      display: flex;
      animation-name: movimiento;
      animation-duration: 0.7s;
      img{
        width: 100%;
        height: 100%;
      }
    }
    h1{
        font-size: 6vw;
        text-align: center;
        animation-name: titulo;
        animation-duration: 0.7s;
        margin: 30px;
      }
    
}
  
  
  