                                      
                                                    /* VISTA ESCRITORIO -INDEX*/
@import "_animaciones.scss";
@import "_variables.scss";
@import "_mixin.scss"; 
@media only screen and (min-width:992px) {   
 *{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   }
 
   #navegacion{
    position: sticky;
    top: 0;
   height: 65px;
   z-index: 2;
   #navbar-brand {
   display: none;
   }
   #navbar {
   color: $colorDeNav;
   transition: all 0.3s;
   font-size: 24px;
   margin-top: 2px;
    }
    #navbar:hover {
    color: rgba(255, 255, 255, 0.986);
     transform: scale(1.1,1.1);
     }
           #nav-item {
             color: $colorDeNav;
             transition: all 0.3s;
             font-size: 22px;
           }
           #nav-item:hover{
             color: rgb(255, 255, 255);
             transform: scale(1.1,1.1);
           } 
           #navbarNavAltMarkup{
             display: flex;
             justify-content:flex-end;
           }
      }  
     .main-container {
       grid-template-columns:80% 20%;
       grid-template-rows: 1fr 0.7fr 1fr;
       grid-template-areas:    "primeraseccion aside"
                               "segundaseccion segundaseccion"
                                "terceraseccion terceraseccion ";
       height: 3000px;     
       align-content: space-evenly;
         #primeraSeccion {
             grid-area: primeraseccion;
             align-items: center;
             .contenedorKungfu {
               width: 70%;
               height: 90%;
               margin: 20px;
               h2 {          
                @include titulo (60px,30px,20px);
               }
                p{ 
                  padding: 30px;
                  font-size: 22px;
                  letter-spacing: 2px;
                  width: 90%;
                  margin: 30px;
                }
                div{
                  height:40% ;
                  width: 50%;
                  img{
                  opacity: 1;
                  transition: all 0.4s;
                  }
                  img:hover {
                    opacity: 0.7;
                  }
                }
             }
           }
         #aside {
           grid-area: aside;
           height: 1200px;
           width: 100%;
           display: flex;
           flex-direction: column;
           justify-content: space-evenly;
           align-items: center;
           padding: 20px;
            #cuenta {
                 height: 70%;
                 width: 90%;
                 align-items: center;
                 margin: 20px;
                   div {
                    .titulo-login {
                     text-align: center;
                     font-size: 36px;
                     margin: 20px; 
                     }
                   }
                 .form-login{
                   height: 65%;
                   width: 95%;
                   padding: 20px;
                   .form-login label {
                     font-size: 20px; 
                     .form-login input{
                       width: 90%;
                       font-size: 1vw;
                       height: 50px;
                     } 
                   }  
                 } 
             }
             #descuento {
                 height: 100%;
                 width: 100%; 
                   div {
                       .titulo-descuento{
                         font-size: 25px;
                         padding: 10px;
                         }
                   }  
                 .form-descuento{
                   height: 100%;
                   width: 95%;
                     label{
                       padding: 10px;
                     width: 90%;
                     font-size: 20px;
                     margin-left: 30px;
                      }
                     input{
                     width: 90%;
                     font-size: 1vw; 
                     }
                     .btnEnviar{
                       margin-left: 50px;
                       width: 60%;
                       transition:all 0.4s;
                       transform: translate(-10px,20px);
                     }
                     .btnEnviar:hover {
                       background-color: #5c5d5f;
                     }
                 }
               }    
             } 
             .segundaSeccion {
               width: 100%;
              height: 100%;
              margin-top: 150px;
               .contenedor-objetivos {
                 width: 50%;
                 height:100% ; 
                 div{
                   margin: 10px;
                   .titulo-objetivos {
                    text-align: center;
                    font-size: 40px;
                    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
                  }
                 } 
               #Objetivos{
                 height: 73%;
                 padding:10px;
                 margin: 0px  10px 0px 10px;
                 
                 li {
                  border-bottom:1px solid rgb(250, 250, 250) ;
                  background-color: $colorDeLi;
                  color: #fdfdfd;
                 }   
               }   
             }
             .contenedor-beneficios {
               height: 87%;
               padding: 10px;
               width: 50%; 
             div {
               .titulo-beneficios{
                 font-size: 40px;
                 margin: 10px;
               }
             } 
             #Beneficios{
               height:100%;
               padding: 15px;
               justify-content:space-evenly;
               li {
                 font-size: 18px;
                 border-bottom:1px solid rgb(250, 250, 250) ;
                 background-color: $colorDeLi;
                 color: #fdfdfd;
               }
             }
           } 
         } 
         .terceraSeccion {
           display: flex;
           flex-direction: column;
           align-items: center;
           width: 100%;
           margin-top: 50px;
           .titulo-tecnicas{
             grid-area: titulo;
             text-align: center;
             h4 {
              @include titulo (60px,40px,20px);  
             }
         }
         .card-group {
           height: 100%;
           width: 90%;
           display: flex;
           justify-content: space-evenly;
           .card {
             height: 98%;
             color: #ffffff;
             background-color: rgb(11, 11, 14);
             #grulla{
               height: 40%;
               width: 80%;
               border-radius: 50%;
               transition: all 0.5s;
             }
             #grulla:hover {
              transform: scale( 1.1,1.1)
             }
             #tigre{
               @extend #grulla;
               background-color: rgb(11, 11, 14)
             }
             #serpiente{
              @extend #grulla;  
             }
             .card-body{
               display: flex;
               justify-content: space-evenly;
               flex-direction: column;
               align-items: center;
               .card-title {
                 font-size: 35px;
               }
               .Tigre{
                 transform: translatey(10px);
               }
             }
           }
         }
       }                                                                   
     }         
 footer{
   height:120px;
     li{
       list-style: none;
     }
   .footer-contenedor {
     height: 100%;
     div {
       #copyright {
         font-size: 20px;
       }
     }
   }
     ul {
       .li-footer {
         font-size: 20px;
       }
     }
       .redes-sociales{
           div {
             .redesSociales {
                font-size: 20px;
             }
           }
       }  
   }
      
                                                     /*seccion Contactos */
   .main-contactos {
     height: 1000px;
     grid-template-columns: 1fr 1fr ;
     grid-template-rows: 700px 300px;
     grid-template-areas:   "contacto crearcuenta"
                             "contacto crearcuenta" ;
     justify-items: center; 
     align-items: flex-start;   
   }
   .contenedor-mensaje div h2{
      font-size: 50px;
   }
   .contenedor-mensaje {
         width: 60%;
         border: 2px solid rgb(250, 250, 250);   
         transform:translateY(28px) ; 
         display: flex;
         flex-direction: column;
         justify-content: space-evenly;
         height: 80%;
         padding: 20px;
   }
   .enviarMsj {
    transform:  translate(200px,50px);
    font-size: 20px;
    width: 120px;
   }
   
   .contenedor-cuenta{
     height: 80%;
     width: 60%;
     border: 2px solid rgb(248, 248, 248); 
     transform:translateY(20px) ;
     padding: 10px;                            
   }
   .titulo-cuenta {
     font-size: 3vw;
     text-align: center;
     margin: 20px;
   }
   .form-cuenta {
     row-gap: 25px;  
     height: 75%;
       display: flex;
       flex-direction: column;
       align-items: center;
       justify-content: flex-end;
   }
   .form-cuenta label {
     width: 30%;
   }
   .form-cuenta input {
     width: 20vw;
   }
   #enviar {
    width: 90%;
   }
   
   .input-cuenta {
   font-size: 20px;
   }
   .labelHombre{
     transform: translatex(-100px);

   }
   .labelMujer {
     transform: translate(-90px,-25px );
   }
   #hombre {
     transform: translate(-100px,-20px);
   }
   #mujer {
     transform: translate(-115px,-20px)
   
   }
                                              /* seccion galeria */
   .main-galeria  {
     grid-template-columns:100%  ;
     grid-template-rows: 1000px 1000px;
     grid-template-areas:"fotos"
                         "videos" ;           
     
   }                                            
   .contenedor-fotos {
     grid-area:fotos;
     display: flex;
     flex-direction: column;
     height: 90%;
     width: 60%;
     margin: 30px;
     justify-self: center;
   }
   .d-block {
     height:700px
   }
   .carousel-item {
     height: 60%;
   }
   .carousel-inner {
     height: 600px;
   }

   .titulo-fotos {
     font-size: 50px;
     margin: 30px;
   }
   .contenedor-videos {
     grid-area: videos;
     display:flex;
     flex-direction: column;
   }
   .contenedorTituloVideo {
     transform: translateY(-80px);
   }
   .titulo-videos {
     font-size: 40px;
   }
   .videos {
     display: grid;
     grid-template-columns:35% 35% 30%;
     grid-template-rows: 400px 400px ;
     grid-template-areas:    "video1 video2 video3"
                             " video4 video5 video6";            
     row-gap: 20px;                     
   }
   .video1 {
     margin-left: 20px;
   }
   .video4 {
    margin-left: 20px     
   }
                                                     /* seccion historia   */
.contenedorHistoria {
  grid-template-columns:100% ;
  grid-template-rows: 0.8fr 0.5fr;
  grid-template-areas: "historia" 
                      "famosos";
    #seccionHistoria {
      grid-area:historia ;
      height: 100%;
      width: 100%;
      display: flex;
      align-items: center;
      flex-direction: column;
        .tituloHistoria{
          h2{
            font-size: 4vw;
            margin: 20px;
          }                 
        } 
    }
    .texto-historia{
      height:100%;
      width: 80%;
      p{
        font-size:20px ;
        padding: 20px;
      }
    }
    #seccionFamosos {
      height: 1300px;
      width: 100%;
      display: flex;
      flex-direction: column;
      .contenedorTitulo {
        height: 100px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center; 
        h3 {
          font-size: 3vw;
          margin: 10px;
          padding: 10px;
        } 
       }
      .contenedorIpman{
        height: 50%;
        width: 100%;
        display: flex;
        .contenedorImg{ 
          height: 100%;
          width: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
            .img-ip {
              width: 60%;
              height: 65%;
              transform: translatey(60px);
              img{
                height: 100%;
                width: 100%;
                transition: all 0.5s;
              }
              img:hover {
                transform: scale( 1.1,1.1)
              }
            }
          }  
        }
        .contenedorTextoIp{
          height: 100%;
          width: 50%;
          display: flex;
          justify-content: space-evenly;
          align-items: center;
          flex-direction: column; 
          .texto-ip{
            width: 600px;
            height: 300px;
            p{
              font-size: 18px;
            }
          }
          .titulo-ip {
            h3 {
              font-size: 50px;
            }
          }
        }
      }
      .contenedorBruce {
        display: flex;
        height: 100%;
        .contenedorTextoBruce{
          width: 50%;
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: space-evenly;
          align-items: center;
          .tituloBrucelee{
            width: 40%;
            h3 {
              text-align: center;
              font-size: 40px;
              padding: 10px;
            }
          }
          .textoBrucelee{
            width: 60%;
            p{
              padding: 10px;
              margin: 10px;
            }
          }
        }
        .contenedorImgBruce{
          width: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          .imgBrucelee{
            height:70% ;
            width: 50%;
            #brucelee{
              height: 100%;
              width: 100%;
              transition: all 0.5s;
            }
            #brucelee:hover {
              transform: scale( 1.1,1.1);
            }
          }
        }
      }
    }
                                             /*seccion taller*/
   
   #seccion-taller {
         display:flex;
         flex-direction: column;    
   }
   .contenedor-taller {
         display: flex;
     }
   .tituloTaller{ 
     display: flex;
     justify-content: center;
     margin-top: 50px;
   }
   .tituloTaller h2 {
     font-size:50px ;
   }
   .contenedor-tablas {
     margin: 20px;  
   }
   tr ,td {
     padding: 15px;
   }
   th {
     padding: 8px;
   }
   #ubicacion {
     width: 700px;
     height: 400px;
     transform: translate(300px);
   }
   #mapa {transition: all 0.5s;
    
   }
   #mapa:hover {
     transform: scale(1.1,1.1);

   }
 }
 
                                                              /* VISTA MOBILE*/
 
 @media only screen and (min-width: 320px) and (max-width: 480px) {
   
   Header{
       height: 150px;
         .img-header {
           animation-name:movimiento  ;
           animation-duration: 1.5s;
         }
   }
   nav {
     .nav-container {
       row-gap: 10px;
       display: flex;
       flex-direction: column;
       justify-content: space-evenly;
     }
     .nav-container li {
        font-size: 20px;
       justify-content: center; 
     }
     .nav-container a {
       width: 90%;
     }
   }
  .main-container {
       grid-template-columns:100%;
       grid-template-rows: 0.6fr 0.7fr 0.5fr 0.5fr;
       grid-template-areas:    "primeraseccion"
                               "segundaseccion" 
                               "terceraseccion"
                               "aside";                
       #primeraSeccion{ 
         grid-area: primeraseccion;
          height: 100%;
          margin-bottom: 30px;
          .contenedorKungfu{ 
           height: 100%;
           width: 95%;
           justify-content: space-evenly;
           h2 {
             font-size: 30px;
             margin-top: 20px;
           }
         } 
       }
       .segundaSeccion {
         grid-area: segundaseccion;
         flex-direction: column;
         width: 100%;
         align-items: center;
         margin-top: 40px;
         .contenedor-objetivos {
           width: 100%;
           height: 1000px;
           #Objetivos{
             height: 100%;
             margin: 10px;
             li {
               margin: 10px;
               background-color: $colorDeLi;
               color: #fdfdfd;
               border-bottom:1px solid rgb(250, 250, 250) ;
               margin-left: 25px;
             }
           } 
         }
         .contenedor-beneficios {
          width: 95%;
          height:100%;
          align-items: center;
           div {
               h3 {
                 height: 42px;
               }
           }
           #Beneficios{
               height: 700px;
             padding: 10px;
             justify-content: space-evenly;
             li{
               padding: 10px;
               width: 100%;
               border-bottom:1px solid rgb(250, 250, 250) ;
                 background-color: $colorDeLi;
                 color: #fdfdfd;

             }
           }
         }
       } 
       .terceraSeccion {
         grid-area: terceraseccion;
         display: flex;
         flex-direction: column;
         height: 100%;
         align-items: center;
         margin-top: 10px;
         .titulo-tecnicas {
           h4 {
             font-size: 9vw;
             text-align: center;
             margin: 30px;
           }
         } 
         .card-group {
           height: 100%;
           width: 100%;
           display: flex;
           flex-direction: column;
           .card {
             height: 80%;
             width: 100%;
             color: #fdfdfd;
             #tigre{
               height: 50%;
               width: 90%;
             }
             .card-body {
               background-color: rgb(11, 11, 14);
               .card-title {
                 text-align: center;
                 font-size: 6vw;
                 margin-bottom: 15px;
               }
             }
             #grulla{
               height: 50%;
               width: 100%;
             }
             #serpiente{
               height:50%;
               width: 100%;
             }
           }
         }     
       }
       #aside {
         grid-area: aside;
         height: 1000px;
         width: 100%;
         display: flex;
         flex-direction: column;
         background-color: rgb(11, 11, 14);
         color: black;
         #cuenta {
           height: 50%;
           width: 100%;
           display: flex;
           flex-direction: column;
           align-items: center;
           border: 2px solid black;
           background-color: rgb(11, 11, 14);
           color: white; 
         div{
           .titulo-login {
             text-align: center;
             font-size: 36px;
             margin: 20px;
           }
         }
         .form-login {
           display: flex;
           height: 80%;
           width: 70%;
           #contraseña {
             transform: translateY(-50px);
           }
             label {
                 height: 100%;
                 width: 95%;
                 display: flex;
                 font-size: 25px;
                 margin: 10px;
                 flex-direction: column;
                 input{
                   width: 200px;
                   font-size: 20px;
                 }
             }
             .ingresar {
               transform: translate(17px ,-90px);
             }
         }
         }
         #descuento {
           height: 50%;
           width: 100%; 
           display: flex;
           flex-direction: column;
           background-color: rgb(11, 11, 14);
           color: white;
           div {
             .titulo-descuento{
               font-size: 33px;
               padding: 10px;
               margin: 20px;
           }
           } 
           .form-descuento{
             height: 85%;
             width: 85%;
             display: flex;
             flex-direction: column;
             justify-content: space-around;
             .btnEnviar{
               transform: translate(30px,30px);
             }
             label{
               margin-left: 30px;
             padding: 10px;
             width: 230px;
               input{
                 width: 200px;
               }
             }
           }
          }
        }                        
  }
   footer {
     .footer-contenedor {
       display: flex;
       flex-direction: column;
       padding: 10px;
       .footer-contacto {
         display: flex;
         flex-direction: column;
       }
       li{
         list-style: none;
         i{
           font-size: 20px;
           padding: 5px;
         }
       } 
     }
   }
   
                                                         /* seccion contactos*/
   .main-contactos {
     grid-template-columns:1fr ;
     grid-template-rows:  40% 50% ;
     grid-template-areas:"contacto"
                         "crearcuenta"
                         ;
              height: 1200px;          
   }
   .contenedor-mensaje h4 {
     font-size: 30px;
     text-align: center;
   }
   .contenedor-mensaje {
     margin: 10px;
     border: 2px solid white;
     display: flex;
     flex-direction: column;
     justify-content: space-evenly;
   }
   .enviarMsj{
     transform: translate(50px,20px);
   }
   .contenedor-mensaje div {
     padding: 10px;
   }
   input {
     width: 70%;
     border: 1px solid black;
   }
   textarea {
     width: 70%;
     height: 15vw;
   }
   .contenedor-cuenta h3{
     font-size: 20px;
     padding: 5px;
     text-align:center;
     margin: 15px;
   }
   .form-label {
     margin-left: 20px;
     font-size: 18px;
   }
   #exampleFormControlInput1{
     width: 80%;
     margin-left: 15px;
   }
   #exampleFormControlTextarea1 {
    margin-left: 8px;
    width: 95%;
   }
   .contenedor-cuenta {
     height:100% ;
     margin: 10px;
     border: 1px solid white;
   }
   .form-cuenta {
    display: flex; 
    flex-direction: column;
    justify-content: space-evenly; 
    height: 70%;
    align-items: center;
    width: 100%;
   }
   
   .form-cuenta label {
     font-size: 15px;
   }
   
                                                                     /*Seccion galeria */
   
   .main-galeria {
     grid-template-columns:1fr ;
     grid-template-rows:26% 70% ;
     grid-template-areas:    "fotos"
                             "videos"   ;
                             .contenedor-fotos{
                              display: flex;
                              flex-direction: column;
                              margin: 20px;
                             align-items: center;
                             justify-content: space-evenly;   
                            }
   }
   .d-block {
     width: 4px;
   }
   #galeria-img {
     width: 80%;
     height: 100%;
   }
   
   .titulo-fotos {
     text-align: center;
     font-size: 30px;
   }
 
   .contenedor-videos{
     display: flex;
     flex-direction: column;
   }
   .videos{ 
     height:2400px ;
     grid-template-columns:90% ;
     grid-template-rows:300px 300px 300px 300px 300px 300px ;
     grid-template-areas:    "video1"
                             "video2"
                             "video3"
                             "video4"
                             "video5"
                             "video6";
     align-content: space-evenly;
     justify-content: center;
   }
   .videos div {
     width: 100%;
     height: 100%;
   }
   .titulo-videos {
     font-size: 6.7vw;
     transform: translateY(-30px);
   }
   
                                            /* seccion historia */
   .contenedorHistoria{
     height:100%;
     grid-template-columns:100% ;
     grid-template-rows:0.8fr 0.8fr;
     grid-template-areas:"seccion1 " 
                         "seccion2";
   justify-items: center;
   align-content: space-evenly;    
   #seccionHistoria{ 
    grid-area: seccion1;
    width:95% ;
    height: 100%;
    display:flex;
    flex-direction: column;
    margin:20px;
    .tituloHistoria {
      display: flex;
      justify-content: center;
    }
    .texto-historia {
      margin: 30px; 
    }
  }
  #seccionFamosos {
    width: 95%;
    padding: 10px;
    height: 100%;
    .contenedorTitulo{
      h3 {
        text-align: center;
        font-size: 30px;
      }
    }
    .contenedorIpman {
      height: 45%;
      width: 100%;
      .contenedorTextoIp{
        .titulo-ip {
           h3{
             font-size: 25px;
             padding: 7px;
           }
        }
        .texto-ip {
          p {
            padding: 7px;
          }
        }
       }
      .contenedorImg{
        height: 40%;
        background-color: #5c5d5f;
        .img-ip {
          width: 100%;
          height: 100%;
          img{
            height: 100%;
            width: 100%;
          }
        }
      }
    }.contenedorBruce {
      display: flex;
      flex-direction: column-reverse;
    }
  }
} 
   
                                                     /*seccion taller*/
   #seccion-taller {
    display: flex;
    flex-direction: column;
    height: 100%;
   }
   .tituloTaller h2{
     font-size: 20px;
     text-align: center;
     margin: 20px;
   }
   .contenedor-tablas{
     height: 50%;
     align-items: center;
     display: flex;
     justify-content: center;
     margin-top: 20px;
   }
   tr,td {
     padding: 5px;
     font-size:13px;
   }
   th {
    padding: 4px;
    text-align: center;
   }
   #tabla {
     margin: 10px;
   }
   #ubicacion{
     height: 50%;
     display: flex;
     flex-direction: column;
     padding: 10px;
     margin: 15px;
   }
   .titulo-ubicacion {
     text-align: center;
     font-size: 25px;
     margin: 15px;
   }
   }